.home-container {
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007bff;
  font-size: 2.5rem;
}
